<!doctype html>
<html>
<head>
  <meta charset=utf-8>
  <title>Chat com Socket.io em Vuejs</title>
  <link rel="icon" type="image/png" sizes="192x192"  href="/src/favicon/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/src/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/src/favicon/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/src/favicon/favicon-16x16.png">
  <link rel="stylesheet" href="/css/bulma.min.css">
</head>
<body>
  <div v-cloak>
    <div class="has-text-centered">
      <h1 class="title is-3">{{inicial}}</h1>
    </div>
    <br>
    <div class="box" v-if="!entrou">
        <div class="field">
          <div class="control">
            <label class="subtitle is-4 has-text-grey">
              Usuário:
              <input class="input is-large" type="text" v-model="nickname"  @keyup.13="entra" placeholder="Seu nome de Usuário" autofocus/>
            </label>
          </div>
        </div>
        <input type="button" class="button is-info is-large" value="Entrar" @click="entra"/>
    </div>
    <div v-else>
      <div class="card" v-for="message in messages">
        <div class="card-content">
          <div class="media">
            <div class="media-content">
              <p class="title is-4">{{message.nickname}}</p>
              <!-- <p class="subtitle is-6">@johnsmith</p> -->
            </div>
          </div>
          <div class="content">
            {{message.message}}
          </div>
        </div>
      </div>
      <div class="box msgbox">
          <div class="field">
            <div class="control">
              <label class="subtitle is-4 has-text-grey">
                Mensagem:
                <textarea class="textarea" placeholder="digite sua mensagem" v-model="msg"></textarea>
              </label>
            </div>
          </div>
          <input type="button" class="button is-info is-large" value="Enviar" @click="enviar"/>
      </div>
    </div>
  </div>
  <script src="/js/socket.io.min.js"></script>
  <script src="/js/vue.js"></script>
  <script src="/js/meu.js"></script>
</body>
</html>
