@charset "utf-8"
/*! bulma.io v0.6.1 | MIT License | github.com/jgthms/bulma */
@import "sass/utilities/_all"
@import "sass/base/_all"
@import "sass/elements/_all"
@import "sass/components/_all"
@import "sass/grid/_all"
@import "sass/layout/_all"
$teste: none
[v-cloak]
  display: $teste
.card
  margin-bottom: 1rem
.box
  margin: 0 auto
  box-sizing: border-box
  width: 70% !important
.container
  width: 99%
  margin: 0 auto
  box-sizing: border-box
  padding: 0
