@charset "utf-8"
/*! bulma.io v0.6.1 | MIT License | github.com/jgthms/bulma */
@import "sass/utilities/_all"
@import "sass/base/_all"
@import "sass/elements/_all"
@import "sass/components/_all"
@import "sass/grid/_all"
@import "sass/layout/_all"

$tela: none

/* - Isto é uma Variável com valor none, quando compilado onde estiver com a Variável fica com o valor definido aqui */

[v-cloak]
  display: $tela
/* Elemento vue no css que define o que acontece enquanto não carrega as funções*/

.card
  margin: 0 auto
  margin-bottom: 1rem
  width: 90vw

.box
  width: 90%
  margin: 0 auto

.msgbox
  position: fixed
  width: 100vw !important
  bottom: 0

.container
  width: 98vw
  height: 100vh
  margin: 0 auto
  box-sizing: border-box
  padding: 0

.textarea
  height: 100px

#app
  padding-top: 3.5rem
/* - Aqui na classe menu está definido como um flexbox, com os items alinhado no centro e o espaço distribuido pelos lados dos itens , vw = largura de dentro do navegador dividido por cem, vh - altura da tela bla bla*/
.menu
  display: flex
  position: fixed
  top: 0
  background-color: white
  border-bottom: 1px solid rgba(0, 0, 0, 0.1)
  align-items: center
  width: 100vw
  padding: 1vh
  justify-content: space-around
  img
    height: 2.2rem
    width: auto
    margin: 0
  .button
    background-color: transparentize(black, 0.95)
    &:hover
      background-color: transparentize(black, 0.85)
    &:active
      background-color: transparentize(black, 1)

@media screen and (max-width: 800px)
  $tamanho: 87%
  /* - Variável para editar o tamanho */
  .card
    width: $tamanho
  .container
    width: 100vw
    margin: 0 auto
    box-sizing: border-box
    padding: 0
    .box
      width: 100%
      margin: 0 auto
