@charset "utf-8"
/*! bulma.io v0.6.1 | MIT License | github.com/jgthms/bulma */
@import "sass/utilities/_all"
@import "sass/base/_all"
@import "sass/elements/_all"
@import "sass/components/_all"
@import "sass/grid/_all"
@import "sass/layout/_all"

$tela: none
/* - Variável para esconder tela enquanto não carregar o VueJs */

[v-cloak]
  display: $tela
.card
  margin-bottom: 1rem
.msgbox
  margin: 0 auto
  position: fixed
  box-sizing: border-box
  width: 100vw !important
  bottom: 0
.container
  width: 98vw
  height: 100vh
  margin: 0 auto
  box-sizing: border-box
  padding: 0

@media screen and (max-width: 800px)
  $tamanho: 87%
  /* - Variável para editar o mesmo tamanho em dois elementos diferentes */
  .card
    width: $tamanho
  .container
    width: 100vw
    margin: 0 auto
    box-sizing: border-box
    padding: 0
